@import "../scss/variables";

body.dark-mode {
  color: $text-color; /* Assuming $text-color is a light color */
  background-color: $dark-theme-1; /* Assuming $dark-theme-1 is a dark color */
}

body.dark-mode *::-webkit-scrollbar-thumb,
body.dark-mode *:hover::-webkit-scrollbar-thumb {
  background: $dark-theme-2; /* A slightly lighter shade of $dark-theme-1 */
}

.dark-mode {
  table.dataTable > tbody > tr.child ul.dtr-details > li {
    border-bottom: 1px solid $border-light; /* A light border color */
  }

  .dtr-bs-modal .dtr-details {
    border: 1px solid $border-light;
  }

  .dtr-bs-modal .dtr-details tr td:first-child {
    border-right: 1px solid $border-light;
  }

  caption {
    color: #333; /* A medium dark color */
    font-weight: bold; /* Bold text */
  }

  hr {
    border-top-color: rgba(255, 255, 255, 0.2);
    background-color: transparent;
  }

  mark,
  .mark {
    background-color: #fffaeb; /* A light yellow color */
  }

  .list-unstyled li {
    border-bottom-color: $border-light;
  }

  kbd {
    color: $white; /* Assuming $white is white */
    background-color: $dark-blue; /* A dark blue color */
    font-family: monospace; /* Monospace font for code */
  }

  pre {
    color: $text-color;
    background-color: $dark-theme-1;
  }

  @media print {
    pre,
    blockquote {
      border-color: #ccc; /* Light gray border color */
    }

    .badge {
      border-color: $black; /* Black border color */
    }

    .table td,
    .text-wrap table td,
    .table th,
    .text-wrap table th {
      background-color: $dark-theme-2 !important;
    }

    .table-bordered th,
    .text-wrap table th,
    .table-bordered td,
    .text-wrap table td {
      border-color: $border-light !important;
    }
  }

  body * {
    &::-webkit-scrollbar-thumb,
    &:hover::-webkit-scrollbar-thumb {
      background: $dark-theme-2;
    }
  }

  code {
    background: $dark-theme-2;
    border-color: transparent;
    color: $pink; /* A pink color */
    font-family: monospace; /* Monospace font for code */
  }

  pre {
    color: $dark-theme-3; /* A darker shade of $dark-theme-1 */
    background-color: $dark-theme-1;
    text-shadow: 0 1px $dark-theme-2;
  }

  .section-nav {
    background-color: #eee; /* Light gray background color */
    border-color: $border-light;
  }

  /*------ Accordion -------*/
  .accordionjs .acc_section {
    border-color: $border-light;

    .acc_head h3:before {
      color: $text-color;
    }

    .acc-header {
      background: $dark-theme-2;
    }

    .acc_head {
      background: $dark-theme-2;
    }

    &.acc_active > .acc_head {
      color: $text-color !important;
      border-bottom-color: $border-light;
    }
  }

  /* #accordion rotate icon option */
  .accordion-item {
    border-color: $border-light;
    background: $dark-theme-2;
  }
}
    
