.idea/*
.idea
.settings
vendor
.buildpath
.project
.DS_store
.htaccess
composer.lock
composer.phar
Thumbs.db
/test
/temp
/temp/*
/notificaciones
/data
/cache
/utils
update_composer.bat
/app/lib/stubs
config_override.php
config_notificaciones.php