{% extends layoutApp %}

{% block content %}

	<div class="col-lg-12" id="app">
		<form method="post" id="wut" class="form-horizontal">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Envio de credenciales o correos a usuarios</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-md-3">

							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Username</label>
								<div class="col-sm-8">
									<input type="text" v-model="filtros.username"/>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Email</label>
								<div class="col-sm-8">
									<input type="text" v-model="filtros.email"/>
								</div>
							</div>

							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Nombres</label>
								<div class="col-sm-8">
									<input type="text" v-model="filtros.nombres"/>
								</div>
							</div>

							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Perfil</label>
								<div class="col-sm-8">
									<select v-model="filtros.perfil">
										<option></option>
										<option v-for="p in perfiles" :value="p.id" v-html="p.nombre"></option>
									</select>
								</div>
							</div>

						</div>

						<div class="col-md-9">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Asunto</label>
								<div class="col-sm-8">
									<input type="text" v-model="subject"/>
								</div>

							</div>
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Clave</label>
								<div class="col-sm-8">
									<input type="text" v-model="clave"/>
								</div>

							</div>
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Copias</label>
								<div class="col-sm-8">
									<table class="table table-condensed table-bordered table-hover small">
										<thead>
										<tr>
											<th>Correo</th>
											<th>Nombre</th>
											<th></th>
										</tr>
										</thead>
										<tbody>
										<tr v-for="c in copias">
											<td><input type="input" v-model="c.correo"></td>
											<td><input type="input" v-model="c.nombre"></td>
											<td><button type="button" v-on:click="delCopias(c,'normal')">-</button> </td>
										</tr>
										<tr>
											<td>
												<button type="button" v-on:click="addCopias('normal')">+</button>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Copias ocultas</label>
								<div class="col-sm-8">
									<table class="table table-condensed table-bordered table-hover small">
										<thead>
										<tr>
											<th>Correo</th>
											<th>Nombre</th>
											<th></th>
										</tr>
										</thead>
										<tbody>
										<tr v-for="c in copias_ocultas">
											<td><input type="input" v-model="c.correo"></td>
											<td><input type="input" v-model="c.nombre"></td>
											<td><button type="button" v-on:click="delCopias(c,'ocultas')">-</button> </td>
										</tr>
										<tr>
											<td>
												<button type="button" v-on:click="addCopias('ocultas')">+</button>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-sm-4 control-label"></label>

								<div class="col-sm-8">
									<button type="button" v-on:click="enviar()" class="btn btn-primary">Enviar</button>

								</div>
							</div>

						</div>
					</div>
					<br>
					<table class="table table-condensed table-bordered table-hover small">
						<thead>
						<tr>
							<th>
								<input type="checkbox" title="Seleccionar/Deseleccionar Todos" v-model="todos"/>
							</th>
							<th>Username</th>
							<th>Email</th>
							<th>Nombres</th>
							<th>Correo enviado</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="u in usuariosFiltrados" v-bind:class="{proyectoSelect:u.checked}">
							<td>
								<input type="checkbox" v-model="u.checked"/>
							</td>
							<td v-on:click="toggle(u)" style="cursor:pointer">
								<div v-html="u.username"></div>
							</td>
							<td v-html="u.email"></td>
							<td v-html="u.nombres"></td>
							<td v-html="u.correo_enviado"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>

	{{ bundle('validate') }}
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				usuarios: {{ usuarios|raw }},
				perfiles: {{ perfilesJson|raw }},
				tipos: {},
				filtros: {
					nombres: null,
					perfil: null,
					username: null,
					email: null
				},
				todos: false,
				idper: null,
				clave: '',
				copias_ocultas: [],
				copias: [],
				subject: ''
			},
			watch: {
				'todos': function (val) {
					$.each(this.usuariosFiltrados, function (ix, u) {
						u.checked = val;
					});
				}
			},
			computed: {
				usuariosFiltrados: function () {
					if (!this.hayFiltros())
						return this.usuarios;
					var f = this.filtros;
					return this.usuarios.filter(function (u) {
						if (f['tipo'] && u.tipo !== f['tipo'])
							return false;
						if (f['username']) {
							return u.username.toUpperCase()
								.startsWith(f['username'].toUpperCase());
						}
						if (f['email']) {
							return u.email.toUpperCase()
								.includes(f['email'].toUpperCase());
						}
						if (f['nombres']) {
							return u.nombres.toUpperCase()
								.includes(f['nombres'].toUpperCase());
						}
						if (f['perfil']) {
							return u.idsPerfiles.indexOf(f['perfil']) !== -1;
						}
						return true;
					});
				}
			},
			methods: {
				addCopias: function (op) {
					var cop = {
						correo: '',
						nombre: ''
					}
					if (op == 'normal')
						this.copias.push(cop);
					else
						this.copias_ocultas.push(cop);

				},
				delCopias: function (s,op) {

					if (op == 'normal')
						this.copias.splice(s, 1);
					else
						this.copias_ocultas.splice(s, 1);;
				},
				hayFiltros: function () {
					for (var k in this.filtros) {
						if (this.filtros[k])
							return true;
					}
					return false;
				},
				selected: function () {
					var idper = $('#perfil').val();
					var lista = [];
					$.each(this.usuarios, function (ix, u) {
						if (u.checked)
							lista.push(u);
					});
					return {
						perfil: idper,
						usuarios: lista,
						copias: this.copias,
						ocultas: this.copias_ocultas,
						clave: this.clave,
						subject: this.subject
					};
				},
				enviar: function () {
					var data = this.selected();
					if (data.usuarios.length === 0 || (data.usuarios.subject===0)) {
						alert('Nada que hacer');
						return;
					}
					var self = this;
					$.post('{{ root }}/admin/usuarios/enviarClave', {json: JSON.stringify(data)}, function (lista) {
						$.each(lista, function (id, u) {
							// todo probar esto.
							self.usuarios[id].correo_enviado = u.correo_enviado;

						});
					});
					this.todos = false;
				},
				toggle: function (u) {
					u.checked = !u.checked;
				}
			}
		});
	</script>
{% endblock %}