<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="polipack">
	<meta name="author" content="API">

	<title>Polipack</title>

	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./template/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="./template/css/style.css" rel="stylesheet">
	<link href="./css/site.css" rel="stylesheet">
	<script src="./js/jquery-3.1.1.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./template/js/inspinia.js"></script>
</head>
<body class="gray-bg">

<div class="loginColumns">
	<div class="jumbotron"
		 style=" height:143px; border-bottom:20px solid #ffd520; text-align: center;background: #fff;">
		<h4>Oops!, algo salió mal</h4>
		<div class="row">
			{{mensaje}}
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<div class="ibox-content">
				<p>Se encontró un error interno en el sistema, el cual ha sido guardado y será revisado por nuestro equipo técnico a la
					brevedad posible. Gracias por su comprensión.
				</p>
			</div>
		</div>
		<div class="col-md-6">

		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-6">
			<!--Copyright API-->
		</div>
		<div class="col-md-6 text-right">
			<!--<small>© {{ now|date('Y') }}</small>-->
		</div>
	</div>
</div>

</body>
</html>