<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="polipack">
	<meta name="author" content="API">

	<title>Polipack</title>

	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./template/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="./template/css/style.css" rel="stylesheet">
	<link href="./css/site.css" rel="stylesheet">
	<script src="./js/jquery-3.1.1.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./template/js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script src="./template/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="./template/js/inspinia.js"></script>
</head>
<body class="gray-bg">

<div class="loginColumns">
	<div class="jumbotron"
		 style=" height:143px; border-bottom:20px solid #ffd520; text-align: center;background: #fff; background-image:url('./img/banner_login.png'); ">
		<div class="row">
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<div class="ibox-content">
				<h4>Sistema en Mantenimiento</h4>

				<p>El servicio no se encuentra disponible en estos momentos, estamos realizando mejoras en la plataforma.<br>
					{{mensaje}}
					<br>Gracias por su comprensión.</p>
			</div>
		</div>
		<div class="col-md-6">

		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-6">
			<!--Copyright API-OUTSOURCING-->
		</div>
		<div class="col-md-6 text-right">
			<!--<small>© {{ now|date('Y') }}</small>-->
		</div>
	</div>
</div>

</body>
</html>