<table class="table table-bordered table-condensed table-striped">
	<thead>
	<tr>
		<th>Nombre</th>
		<th>Tipo</th>
	</tr>
	</thead>
	<tbody>
	{% for l in lista %}
		<tr>
			<td>
				<a href="plantillas/editar?id={{ l.id }}" target="_blank">{{ l.nombre }}</a>
			</td>
			<td>{{ l.tipo }} </td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{{ pag|raw }}