{% extends 'layout.twig' %}
{% block content %}


							<div class="col-md-4">
							<select class="form-control form-select select2" id="seguimiento" name="seguimiento">
							<option value="pichincha">Pichincha</option>
							<option value="pacifico">Pacífico</option>
							</select>

					</div>

{% endblock %}