<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5 class="center-block">{{ titulo }}</h5>
	</div>
	<div class="ibox-content">
		<form id="filtros">
			<div class="row ">
				<div class="col-sm-2">
					<b>Fecha de Corte</b> <br>
					{{ text_field_tag("fecha_corte", model.fecha_corte, {class:'form-control fecha'}) }}
				</div>

				<div class="col-sm-2">
					<b>Orden extrusión</b> <br>
					<div class="input-group">
						<input type="text" class="form-control" name="orden" id="orden" />
					</div>
				</div>

				<div class="col-sm-2">
					<b>Extrusora</b> <br>
					<div class="input-group">
						<select class="form-control" name="extrusora" id="extrusora">
							<option value=""></option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					<b>Material</b> <br>
					<div class="input-group">
						<input type="text" class="form-control" name="material" id="material" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="ibox-footer">
		<button id="btnFiltro" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
		<button id="btnTodos" class="btn btn-success"><i class="far fa-eye"></i> Ver todos</button>

		{% include "reportes/loader.twig" %}
		<script>
			var appFiltros = new Vue({
				el: '#filtros',
				data: {
				},
				methods: {

				},
				updated: function () {

				}
			});

			$(function () {
				$('.fecha').datepicker({
					dateFormat: 'yy-mm-dd',
					showButtonPanel: true
				});

			});
		</script>
	</div>


</div>