<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5 class="center-block">{{ titulo }}</h5>
	</div>
	<div class="ibox-content">
		<form id="filtros">
			<div class="row ">
				<div class="col-sm-2">
					<b>Año</b> <br>
					<div class="input-group">
						<select class="form-control" name="anio" id="anio">
							<option v-for="(v,k) in anio" v-html="v" :value="k"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-2">
					<b>Fecha inicio</b> <br>
					{{ text_field_tag("fecha_desde", model.fecha_desde, {class:'form-control fecha'}) }}
				</div>

				<div class="col-sm-2">
					<b>Fecha fin</b> <br>
					{{ text_field_tag("fecha_hasta", model.fecha_hasta, {class:'form-control fecha'}) }}
				</div>
			</div>
		</form>
	</div>
	<div class="ibox-footer">
		<button id="btnFiltro" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
		<button id="btnTodos" class="btn btn-success"><i class="far fa-eye"></i> Ver todos</button>

		{% include "reportes/loader.twig" %}
		<script>
			var appFiltros = new Vue({
				el: '#filtros',
				data: {
					anio: {{ anio|raw }}
				},
				methods: {
				},
				updated: function () {
				}
			});

			$(function () {
				$('.fecha').datepicker({
					dateFormat: 'yy-mm-dd',
					showButtonPanel: true,
				});

			});
		</script>
	</div>
</div>