<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5 class="center-block">{{ titulo }}</h5>
	</div>
	<div class="ibox-content">
		<form id="filtros">
			<div class="row ">
				<div class="col-sm-2">
					<b>Fecha inicio</b> <br>
					{{ text_field_tag("fecha_desde", model.fecha_desde, {class:'form-control fecha'}) }}
				</div>

				<div class="col-sm-2">
					<b>Fecha fin</b> <br>
					{{ text_field_tag("fecha_hasta", model.fecha_hasta, {class:'form-control fecha'}) }}
				</div>

				<div class="col-sm-2">
					<b>Número Orden</b> <br>

					<div class="input-group">
						<input type="text" class="form-control" name="numero_orden" id="numero_orden" />
					</div>
				</div>

				<div class="col-sm-2">
					<b>Tipo Producto</b> <br>

					<div class="input-group">
						<select class="form-control" name="tipo_producto" id="tipo_producto">
							<option value=""></option>
							<option v-for="(v,k) in tipo_producto" v-html="v" :value="k"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-2">
					<b>Producto</b> <br>
					<div class="input-group">
						<input type="text" class="form-control" name="producto" id="producto" />
					</div>
				</div>

				<div class="col-sm-2">
					<b>Tipo Desperdicio</b> <br>

					<div class="input-group">
						<select class="form-control" name="tipo_desperdicio" id="tipo_desperdicio">
							<option value=""></option>
							<option value="rollo">Rollo</option>
							<option value="bulto">Bulto</option>
							<option value="torta">Torta</option>
						</select>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="ibox-footer">
		<button id="btnFiltro" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
		<button id="btnTodos" class="btn btn-success"><i class="far fa-eye"></i> Ver todos</button>

		{% include "reportes/loader.twig" %}
		<script>
			var appFiltros = new Vue({
				el: '#filtros',
				data: {
					tipo_producto: {{ tipo_producto|raw }}
				},
				methods: {},
				updated: function () {}
			});

			$(function () {
				$('.fecha').datepicker({
					dateFormat: 'yy-mm-dd',
					showButtonPanel: true
				});

			});
		</script>
	</div>
</div>