{% extends layoutApp %}

{% block content %}
	<div class="col-md-12 col-xl-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Perfiles</h4>
			</div>
			<div class="card-body">
				<form method="post" id="filtro" class="form-horizontal">
					<div class="row mb-4">
						<label for="inputName" class="col-md-2 form-label">Nombre</label>
						<div class="col-md-4">
							{{ text_field_tag("nombre", model.nombre, {class:'form-control', placeholder:'Nombre'}) }}
						</div>

						<label for="inputName" class="col-md-2 form-label">Identificador</label>
						<div class="col-md-4">
							{{ select_tag('identificador', identificadores,'', {class:'form-control',prompt: ''} ) }}
						</div>
					</div>

					<div class="mb-0 mt-4 ">
						<div class="col-md-12">
							<button type="submit" class="btn btn-secondary"><i class="glyphicon glyphicon-search"></i>
								Filtrar
							</button>
							<button class="btn btn-secondary" onclick="todos()" type="button"><i class="fa fa-eye"></i>
								Ver todos
							</button>
							<a href="{{ root }}/admin/perfiles/crear" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Crear perfil</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-xl-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lista de perfiles</h4>
			</div>
			<div class="card-body">
				<div id="lista"></div>
			</div>
		</div>
	</div>

	<script>
        var form = $('#filtro');

        function todos() {
            //resetForm('filtro');
            form[0].reset();
            cargar(1);
        }

        function cargar(page) {
            var data = form.serializeArray();
            $('#lista').load('{{ root }}/admin/perfiles/lista?page=' + page, data);
        }

        form.submit(function () {
            cargar(1);
            return false;
        });

        cargar(1);
	</script>
{% endblock %}